<!doctype html>
<html>
	<head>
		<title>Dispatch Updates</title>
		<link href="/style.css" rel="stylesheet" type="text/css">
		<meta http-equiv="refresh" content="120">
		<meta name="description" content="City Police/Fire Dispatch Recordings" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="City Police/Fire Dispatch Recordings" />
		<meta name="twitter:image" content="/city.png" />
	</head>
	<body>
		<center><img src="/city.png" style="max-width: 400px;" /></center>
		<center><h2>City Dispatch Updates</h2></center>
		<br />
		<center><p>We listen to the <a href="">City Police and Fire dispatch feed</a> and save a clip every time someone speaks for easy review</p></center>
		<center><p>View <a href="/">30 most recent</a> or <a href="/day">Past 24 Hours</a> or <a href="/all">all recorded broadcasts</a></p></center>
		<center>
		<table>
			<tr>
				<th colspan="3">
					<h3><%= title %></h3>
				</th>
			</tr>
			<tr>
				<th>Timestamp</th>
				<th>Duration</th>
				<th>Clip</th>
			</tr>
			<% for key in keys %>
			<tr>
				<td><%= timestamps[key] %></td>
				<td><%= durations[key] %></td>
				<td><audio src="/audio/<%= key %>.mp3" preload=none controls /></td>
			</tr>
			<% end %>
		</table>
		</center>
	</body>
</html>
